<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>Laura wharton</title>
	</head>
	<body>	
	
	<iframe src="iframe.htm" scrolling="no" class="frame" width="100%" frameborder="0" height="220px"></iframe>
	
				<div id="Laura">			
				<span class="title">
				Family
				</span>
				<div style="width:70%; height:100%; background-color:"red" id="bnb">
				<br><BR>
 Gilad is the proud brother of 1 sister, Timna , with whom he lives in Jerusalem.
<br><br>
Wharton (mother) immigrated to Israel on her own from the United States and served in the army as a lone soldier, adopted by Kibbutz Kfar Blum where she subsequently became a member. She maintains close contact with her father, siblings, nieces, nephews, aunts, uncles and cousins who remain in the United States. Her mother passed away in 2008.

</div>
				</span>
		
	</table><br><BR><br><BR><br><BR><br><BR><br><BR><br><BR><br><BR><br><BR><br>
	<div class="Me">
		<span>
		Site Creator: Gilad Wharton Kleinman <a href="mailto:dkgs1998@yahoo.com">dkgs1998@yahoo.com</a>
		</span>
		</div>
		</div>
</body>
</html>
